@media (max-width:1204px){

}
@media (max-width:991px){
    .text-content{
        width: 100%;
    }
    .navigation-wrap{
        background-color: var(--white-color);
        text-align: center;
    }
    .navigation-wrap .navbar-brand img{
        height: 3.8125rem;
    }
    .navigation-wrap .nav-link{
        line-height: 1.875rem;
    }
    .top-banner{
        padding: 9.375rem 0 9.375rem;
    }
}
@media (max-width:767px){
    h1{
        font-size: 2.8rem;
    }
    h1{
        font-size: 2rem;
        line-height: 2.0625rem;
    }
    .top-banner{
        padding: 10.875rem 0 9.375rem;
    }
}
@media (max-width:1204px){
    
}